# Игнорировать файл конфигурации
config.h

# Игнорировать все файлы с расширением .log
*.log

# Игнорировать все файлы с расширением .tmp
*.tmp

# Игнорировать все файлы с расширением .0
*.o

# Игнорировать файл main без расширения
main

